ion-content ion-toolbar {
  --background: translucent;
}

.header {
  --background: rgb(0, 179, 185);
}

.contenido {
  --background: #fff url('https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/reasons-to-eat-real-food-1296x728-feature.jpg?w=1155&h=1528') no-repeat center center / cover;
}

.bg-transparent {
  background: rgba(255, 255, 255, 0.7);
}