<ion-header>
  <ion-toolbar class="header">
    <ion-title color="dark">Jacaeats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="bg-transparent">
          <ion-item-sliding style="margin-top: 5px; margin-bottom: 5px;" *ngFor="let producto of productos" #slidingItem>
            <ion-item color="none" (click)="goToDetails(producto)" detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="producto.urlImage"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h4 [innerHTML]="producto.nombre"></h4>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
